.pao{
    background-color: palegoldenrod;
    width: 700px;
    height: 450px;
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    margin-bottom: 20px;
}
.alface{
    background-color: palegreen;
    width: 700px;
    height: 450px;
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    margin-bottom: 20px;
}
.carne{
    background-color: saddlebrown;
    width: 700px;
    height: 450px;
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}