body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    text-align: center;
    padding: 50px;
    color: green;
}
.container{
    background-color: ghostwhite;
    padding: 30px;
    width: 550px;
    margin: 0 auto;
    box-shadow: 0 0 10px black; 
}
input, button{
    margin-top: 10px;
    padding: 10px;
}
button{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: #415a77;
}
#resultado{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}