body{ 
    background-color: rgba(142, 143, 143, 0.267);
}
.container {
   background-color: white;
    padding: 15px;
    width: 800px;  /* width = largura*/
    height: 195px;
    margin: 0 auto;
    margin-top: 250px;
}
.conteudo {
background-color: antiquewhite;
padding: 15px;

}