.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.container div{
    margin: 10px;
    padding: 10px;
    background-color: royalblue;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 45px;
}